body {
    font-family: 'Work Sans', sans-serif;
    margin : 0;
}

h1 {
    font-size: 45px;
}

.blue-color {
    color : #5584AC;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.experience-flexible-container {
    display: flex;
    margin-bottom: 20px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width-without-padding {
    width: 50%;
}

.section-padding {
    padding-left: 10%;
    padding-right: 10%;
}

.half-width img {
    width: 60%;
}

.mission-card {
    width: 33%;
    padding-left : 2%;
    padding-right : 0;
    padding-top : 2%;
    padding-bottom : 2%;
    border-radius: 25px;
    margin: 20px;
}

.mission-card img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-button {
    text-decoration: none;
    background-color: #009DAE;
    padding: 10px 10px;
    color : whitesmoke;
    font-weight: 700;
    border-radius: 5px;
    font-size: 15px;
}

.link-button:hover {
    color : rgb(189, 189, 189);
}

.text-justify-high {
    width: 90%;
    text-align: justify;
}

.text-justify-low {
    width: 70%;
    text-align: justify;
}

.text-justify-medium {
    width: 80%;
    text-align: justify;
}


.no-decor { 
    text-decoration: none;
}
.no-decor:hover {
    color : rgb(189, 189, 189);
}

#left-border-highlighter {
    border-left : 4px solid #009DAE;
    padding-left : 1%;
}

.experience-item {
    width: 80%;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    box-shadow: 5px 5px 20px grey;
    border-radius: 20px;
}

.technical-skills-item {
    text-align: center;
    width: 120px;
    margin: 1%;
    border-radius: 15px;
    border: 1px solid grey;
}

.professional-skills-item {
    text-align: center;
    width: 120px;
    margin: 1%;
    border-radius: 15px;
    border: 1px solid grey;
}

footer {
    background-color : #009DAE;
    height: 150px;
}